.login-body {
  background-image: url('../public/imagenes/Fondoq2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  border-radius: 10px;
  color: white;
  width: 400px;
  text-align: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.login-form input::placeholder {
  color: #000000;
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 200, 0);
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.login-form input:hover[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 10px white;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.icon-circle {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1rem auto;
}

.icon-circle img {
  width: 170px;
}